[submodule "external/WiiC"]
	path = external/WiiC
	url = https://github.com/Grumbel/WiiC.git
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest
[submodule "external/benchmark"]
	path = external/benchmark
	url = https://github.com/google/benchmark.git
